
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>ACNH Map Designer</span>
    <mat-button-toggle-group #tool="matButtonToggleGroup" [value]="toolValue">
      <mat-button-toggle value="river" matTooltip="(R)iver">
        <img src="assets/river_t.png" width="36" height="36"/>
      </mat-button-toggle>
      <mat-button-toggle value="cliff" matTooltip="(C)liff">
        <img src="assets/cliff_t.png" width="36" height="36"/>
      </mat-button-toggle>
      <mat-button-toggle value="path" matTooltip="(P)ath">
        <img src="assets/path_t.png" width="36" height="36"/>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <span style="flex-grow: 1;"></span>
    <button mat-raised-button (click)="beginImportImage()">
      <mat-icon>upload_file</mat-icon>
      Import Screenshot
    </button>
    <button mat-raised-button color="warn" (click)="reset()">
      <mat-icon>delete_forever</mat-icon>
      Clear Map
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<amd-mouse-trap #mouseTrap>
  <amd-map-renderer #mapRenderer></amd-map-renderer>
  <canvas #cursorCanvas [width]="mapRenderer.CANVAS_WIDTH" [height]="mapRenderer.CANVAS_HEIGHT"></canvas>
</amd-mouse-trap>
